<div class="container-xl-12">
  <div class="row">
     <h2 class="offset-1">犬一覧</h2>
    <div class="col-md-12 dog-index">
      <div class="scroll-list jscroll">
        <% @dogs.each do |dog| %>
          <ul class="align-items-center">
            <li class="catalog">
              <%= link_to dog_path(dog.id) do %>
                <%= attachment_image_tag dog, :image1, :fill, 60, 60, fallback: "no_image.jpg", size:'100x100' %>
              <% end %>
            </li>
            <li class="catalog abridgement2">
              名前</br>
              <%= link_to dog.name, dog_path(dog.id) %>
            </li>
            <li class="catalog abridgement2">
              犬種</br>
              <%= dog.dog_type_id %>
            </li>
            <li class="catalog">
              年齢</br>
              <%= dog.age %>才
            </li>
            <li class="catalog abridgement2">
              飼い主</br>
              <%= link_to user_path(dog.user) do %>
                <%= dog.user.name %>
              <% end %>
            </li>
          </ul>
        <% end %>
        <%= paginate @dogs %>
      </div>
    </div>
  </div>
</div>
