<div class="container py-5">
	<h5 class="text-center mb-4"><%= @dog.name %> のページ</h5>
	<div class="row" id="article-show">
	  <div class= "col-5 mx-auto">
	    <div class="slider custom-slider">
        <div><%= attachment_image_tag @dog, :image1, fallback: "no_image.jpg" %></div>
        <!-- image2の写真があれば表示する-->
        <% if !@dog.image2.blank? %>
          <div><%= attachment_image_tag @dog, :image2 %></div>
        <% end %>
        <% if !@dog.image3.blank? %>
          <div><%= attachment_image_tag @dog, :image3 %></div>
        <% end %>
      </div>
	  </div>
		<div class="col-7 mx-auto">
			<table class="table table-bordered table4">
				<tbody>
					<tr>
          	<th class="beside">名前</th>
          	<td class="beside2"><%= @dog.name %></td>
          <tr>
          	<th class="beside">年齢</th>
          	<td class="beside2"><%= @dog.age %>才</td>
          </tr>
          <tr>
            <th class="beside">犬種</th>
            <td class="beside2"><%= @dog.dog_type_id %></td>
          </tr>
          <tr>
          	<th class="beside">特技</th>
          	<td class="beside2"><%= @dog.skill %></td>
          </tr>
          <tr>
          	<th class="beside">お気に入り</th>
          	<td class="beside2"><%= @dog.favorite %></td>
          </tr>
          <tr>
            <th class="beside">愛犬紹介</th>
            <td class="text_field beside2"><%= @dog.introduction %></td>
          </tr>
        </tbody>
      </table>
      <% if @dog.user == current_user || current_user.admin %>
        <P class="text-right"><%= link_to " 編集する", edit_dog_path(@dog.id), class: "btn btn-success mx-3 btn-3" %><%= link_to "削除", dog_path(@dog.id), method: :delete, class: "btn btn-danger mx-3 btn-3" %></p>
      <% end %>
    </div>
  </div>
</div>