<div class="container py-5">
	<h5 class="dog-name"><%= @dog.name %> のページ</h5>
	<div class="row">
	  <div class= "col-5">
	    <ul class="slider">
        <li><%= attachment_image_tag @dog, :image1, :fill,300,250, fallback: "no_image.jpg",size:'300x250', class: "center" %></li>
        <% if !@dog.image2.blank? %>
          <li><%= attachment_image_tag @dog, :image2, :fill,300,250, class: "center" %></li>
        <% end %>
        <% if !@dog.image3.blank? %>
          <li><%= attachment_image_tag @dog, :image3, :fill,300,250, class: "center" %></li>
        <% end %>
	  </div>
		<div class="col-7 mx-auto">
			<table class="table table-bordered">
				<tbody>
					<tr>
          	<td>名前</td>
          	<td><%= @dog.name %></td>
          <tr>
          	<td>年齢</td>
          	<td class="text-left"><%= @dog.age %>才</td>
          </tr>
          <tr>
            <td>犬種</td>
            <td class="text-left"><%= @dog.dog_type_id %></td>
          </tr>
          <tr>
          	<td>特技</td>
          	<td class="text-left"><%= @dog.skill %></td>
          </tr>
          <tr>
          	<td>お気に入り</td>
          	<td class="text-left"><%= @dog.favorite %></td>
          </tr>
          <tr>
            <td>愛犬紹介</td>
            <td class="text_field"><%= @dog.introduction %></td>
          </tr>
        </tbody>
      </table>
      <% if @dog.user == current_user || current_user.admin %>
        <P class="text-right"><%= link_to " 編集する", edit_dog_path(@dog.id), class: "btn btn-success mx-3" %><%= link_to "削除", dog_path(@dog.id), method: :delete, class: "btn btn-danger mx-3" %></p>
      <% end %>
    </div>
  </div>
</div>