<div class="container py-5">
  <h5 class="text-center mb-4"><%= link_to @article.user.name,user_path(@article.user.id) %>さんの投稿</h5>
   <div class="row" id="article-show">
   <div class="col-5 mx-auto">
      <div class="slider custom-slider">
        <div><%= attachment_image_tag @article, :image1, fallback: "no_image.jpg" %></div>
        <% if !@article.image2.blank? %>
          <div><%= attachment_image_tag @article, :image2 %></div>
        <% end %>
        <% if !@article.image3.blank? %>
          <div><%= attachment_image_tag @article, :image3 %></div>
        <% end %>
        <% if !@article.image4.blank? %>
          <div><%= attachment_image_tag @article, :image4 %></div>
        <% end %>
        <% if !@article.image5.blank? %>
          <div><%= attachment_image_tag @article, :image5 %></div>
        <% end %>
      </div>
	  </div>
		<div class="col-7 mx-auto">
			<table class="table table-bordered">
				<tbody>
					<tr>
          	<td>タイトル</td></td>
          	<td><%= @article.title %></td>
          <tr>
          <tr>
            <td>投稿内容</td>
            <td class="text_field"><%= @article.body %></td>
          </tr>
        </tbody>
      </table>
      <table>
        <div id="favorite_buttons_<%= @article.id %>">
          <%= render "favorites/favorite", article: @article %>
        </div>
        <div id="comment-count">
          <%= render "article_comments/comment_count", article_comments: @article.article_comments %>
        </div>
        <table id="comments_area">
          <%= render "article_comments/article_comment", article_comments: @article_comments %>
        </table>
      </table>
      <div class="new-comment">
        <%= form_with(model:[@article, @article_comment], remote: true) do |f| %>
          <%= f.text_area :comment,placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
      <% if @article.user == current_user || current_user.admin %>
        <P class="text-right"><%= link_to " 編集する", edit_article_path(@article.id), class: "btn btn-success btn-3" %><%= link_to "削除", article_path(@article.id), method: :delete, class: "btn btn-danger btn-3" %></p>
      <% end %>
    </div>
  </div>
</div>