<h2>アカウント情報</h2>
<%= attachment_image_tag user, :image, fallback: "no_image.jpg", class: "center mx-auto" %>
<table class="table info text-break">
  <tbody>
    <tr>
      <th colspan="2">名前<br />
        <%= user.name %>
      </th>
    </tr>
    <tr>
      <th colspan="2">愛犬<br />
        <% user.dogs.each do |dog| %>
          <i class="fas fa-dog"></i><%= dog.name %>(<%= dog.dog_type_id %>)<br />
        <% end %>
      </th>
    </tr>
    <tr>
      <th colspan="2">自己紹介<br />
        <%= user.introduction %>
      </th>
    </tr>
    <tr>
      <th>
        <%=link_to "フォロー", follows_user_path(user.id) %><br />
        <%= user.followings.count %>人
      </th>
      <th>
        <%=link_to "フォロワー", followers_user_path(user.id) %>
        <div id="follow_counts_<%= user.id %>">
          <%= render "follow_count", user: user %>
        </div>
      </th>
    </tr>
    <% if user == current_user %>
      <tr>
        <th colspan="2">
          <%=link_to "フォローユーザー新着投稿", follows_index_user_path(user.id) %><br />
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
  <% if current_user.admin? %>
    <div id="follow_buttons_<%= user.id %>">
      <%= render "follow", user: user %>
    </div>
    <div class="admin-info">
      <%= link_to edit_user_path(user),class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>
  <% elsif user == current_user %>
    <%= link_to edit_user_path(user),class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
    <%= link_to "犬を登録",new_dog_path,class: "btn btn-success btn-sm btn-block mb-3 new_dog" %>
    <%= link_to "記事を投稿",new_article_path,class: "btn btn-primary btn-sm btn-block new_article" %>
  <% else %>
    <div id="follow_buttons_<%= user.id %>">
      <%= render "follow", user: user %>
    </div>
  <% end %>

