<h2>User info</h2>
<%= attachment_image_tag user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <% user.dogs.each do |dog| %>
      <tr>
        <th>pet_dogs</th>
          <th><%= dog.name %>(<%= dog.dog_type_id %>)</th>
      </tr>
    <% end %>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<div class="row">
  <%= link_to edit_user_path(user),class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
   <%= link_to "犬を登録",new_dog_path,class: "btn btn-info btn-sm btn-block mb-3 new_dog" %>
   <%= link_to "記事を投稿",new_article_path,class: "btn btn-success btn-sm btn-block new_article" %>
</div>

