<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-5 px-sm-0 mx-auto">
      <h1>User編集画面</h1>
      <%= form_with model:@user, local: true do |f| %>
        <div cass="form">
          <div class="form-group">
            <label for="user name">名前</label>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <img id="preview_0" style="width:15%;">
            <%= f.attachment_field :image %>
            <script>
              $('#user_image').on('change', function (e) {
                var reader = new FileReader();
                reader.onload = function (e) {
                  $("#preview_0").attr('src', e.target.result);
                }
                reader.readAsDataURL(e.target.files[0]);
              });
            </script>
          </div>
          <div class="form-group">
            <label for="user introduction">自己紹介</label>
            <%= f.text_area :introduction %>
          </div>
          <div class="form-group">
            <%= f.submit '変更する' %>
            <%= link_to "退会",unsubscribe_path(current_user),class:"btn btn-danger" %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>