<div class="container-xl-12">
  <div class="row">
    <h2 class="mx-auto follow-name"><%= @user.name %>さんのフォローワー一覧</h2>
    <div class="col-md-12 user-index">
      <% if @followers.empty? %>
        <h1 class="not-user">ユーザーがいません</h1>
      <% else %>
        <div class="scroll-list jscroll">
          <% @followers.each do |follower| %>
            <ul class="align-items-center center2">
              <li class="follow-catalog">
                <%= link_to user_path(follower.id) do %>
                  <%= attachment_image_tag follower, :image, fallback: "no_image.jpg", class: "text-center img2" %>
                <% end %>
              </li>
              <li class="follow-catalog abridgement4">
                名前：
                <%= link_to follower.name, user_path(follower.id) %>
              </li>
              <li class="follow-catalog">
                dog：
                <%= follower.dogs.count %>匹
              </li>
              <li class="follow-catalog">
                投稿：
                <%= follower.articles.count %>本
              </li>
            </ul>
          <% end %>
          <%= paginate @followers %>
        </div>
      <% end %>
    </div>
  </div>
</div>