<div class="container-xl-12">
  <div class="row">
    <div class="col-md-12">
      <h2>follower一覧</h2>
      <% if @followers.empty? %>
        <%= "ユーザーはいません" %>
      <% else %>
        <div class="scroll-list jscroll">
          <% @followers.each do |follower| %>
            <ul class="justify-content-around">
              <li>
                <%= link_to user_path(follower.id) do %>
                  <%= attachment_image_tag follower, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
                <% end %>
              </li>
              <li>
                名前：
                <%= link_to follower.name, user_path(follower.id) %>
              </li>
              <li>
                dog数：
                <%= follower.dogs.count %>匹
              </li>
              <li>
                投稿数：
                <%= follower.articles.count %>
              </li>
            </ul>
          <% end %>
          <%= paginate @followers %>
        </div>
      <% end %>
    </div>
  </div>
</div>