<div class="container-xl-12">
  <div class="row mx-auto">
    <h2 class="offset-1">ユーザー一覧</h2>
    <div class="col-md-12 user-index">
      <div class="scroll-list jscroll">
        <% @users.each do |user| %>
          <ul class=" align-items-center center2">
            <li class="user-catalog">
              <%= link_to user_path(user.id) do %>
                <%= attachment_image_tag user, :image, fallback: "no_image.jpg",class: "text-center img2" %>
              <% end %>
            </li>
            <li class="user-catalog abridgement3">
              名前<br />
              <%= link_to user.name, user_path(user.id) %>
            </li>

            <li class="user-catalog">
              dog<br />
              <%= user.dogs.count %>匹
            </li>
            <li class="user-catalog">
              投稿<br />
              <%= user.articles.count %>本
            </li>
            <div class="user-catalog">
              フォロワー<br />
              <li id="follow_counts_<%= user.id %>">
                <%= render "follow_count", user: user %>
              </li>
            </div>
            <div class="user-catalog">
              <% if user == current_user %>
                <li>myアカウント</li>
              <% else %>
                <li id="follow_buttons_<%= user.id %>">
                  <%= render "follow", user: user %>
                </li>
              <% end %>
            </div>
          </ul>
        <% end %>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>