<div class="container-xl-12">
  <div class="row">
    <div class="col-md-12">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>dog数</th>
            <th>投稿数</th>
            <th>フォロワー数</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= attachment_image_tag current_user, :image, :fill, 60, 60, fallback: "no_image.jpg" %>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <%= user.dogs.count %>匹
              </td>
              <td>
                <%= user.articles.count %>
              </td>
              <td>
                <%= user.followers.count %>
              </td>
              <td id="follow_buttons_<%= user.id %>">
                <%= render "follow", user: user %>
              </td>
            </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>