<div class="rank-container">
  <div class="rank-box-center">
    <div class="row col-10 col-offset-1 offset-1">
      <h1 class="font-size1">投稿いいねランキング</h1>
      <table class="table table1">
        <thead>
          <th>順位</th>
          <th>いいね数</th>
          <th>タイトル</th>
          <th>image</th>
          <th>投稿者</th>
        </thead>
			  <tbody>
				  <% @all_ranks.each.with_index(1) do |article, i| %>
				    <tr>
					    <td><%= i %>位</td>
					    <td><%= "#{article.favorites.count} いいね" %></td>
          	  <td class="abridgement"><%= link_to article.title,article_path(article.id) %></td>
          	  <td><%= attachment_image_tag(article, :image1,class: 'img3 mx-auto') %></td>
          	  <td class="abridgement"><%= link_to article.user.name, user_path(article.user.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


