<div class="rank-container">
  <div class="rank-box-center">
    <h1>投稿記事いいねランキング</h1>
    <table class="table">
      <thead>
        <th>順位</th>
        <th>いいね数</th>
        <th>タイトル</th>
        <th>image</th>
        <th>コメント数</th>
        <th>投稿者</th>
      </thead>
			<tbody>
				<% @all_ranks.each.with_index(1) do |article, i| %>
				  <tr>
					  <td><%= i %>位</td>
					  <td><%= "#{article.favorites.count} いいね" %></td>
          	<td><%= link_to article.title,article_path(article.id) %></td>
          	<td><%= attachment_image_tag(article, :image1, :fill, 200, 150) %></td>
          	<td><%= "#{article.article_comments.count} 件" %></td>
          	<td><%= link_to article.user.name, user_path(article.user.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


