<div class="container-xl-12">
  <div class="row col-md-10 col-md-offset-1 offset-1">
    <div class="col-md-12">
      <% if @range == "User" %>
        <h2>Users search for "<%= @word %>"</h2>
        <table class='table table2'>
          <thead>
            <tr>
              <th colspan="2">name</th>
              <th>dog</th>
              <th>投稿</th>
              <th>フォロワー</th>
              <th colspan="5"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td colspan="2" class="abridgement3">
                  <%= link_to user_path(user.id) do %>
                    <%= attachment_image_tag user, :image, fallback: "no_image.jpg",class:"img4" %>
                    <%= user.name %>
                  <% end %>
                </td>
                <td>
                  <%= user.dogs.count %>匹
                </td>
                <td>
                  <%= user.articles.count %>本
                </td>
                <td>
                  <%= user.followers.count %>人
                </td>
                <td colspan="5" id="follow_buttons_<%= user.id %>">
                  <%= render "users/follow", user: user %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% elsif @range == "Dog" %>
        <h2>Dogs search for "<%= @word %>"</h2>
        <table class='table table2'>
          <thead>
            <tr>
              <th colspan="2">name</th>
              <th>犬種</th>
              <th>age</th>
              <th>飼い主</th>
            </tr>
          </thead>
          <tbody>
            <% @dogs.each do |dog| %>
              <tr>
                <td colspan="2" class="abridgement3">
                  <%= link_to dog_path(dog.id) do %>
                    <%= attachment_image_tag current_user, :image, fallback: "no_image.jpg",class:"img4" %>
                    <%= dog.name %><br />
                  <% end %>
                </td>
                <td><%= dog.dog_type_id %></td>
                <td><%= dog.age %>才</td>
                <td class="abridgement3">
                  <%= link_to dog.user.name, user_path(dog.user.id) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="container">
          <h3>投稿一覧</h3>
          <div class="row row-cols-1 row-cols-md-4 mx-auto">
            <% @articles.each do |article| %>
              <div class="col mb-4">
                <div class="card">
                  <div class="abridgement">
                    <p>タイトル　<%= link_to article.title,article_path(article.id) %></p>
                  </div>
                  <p><%= "#{article.article_comments.count} コメント" %></p>
                  <%= link_to article_path(article.id) do %>
                    <%= attachment_image_tag(article, :image1,fallback: "no_image.jpg",class: 'article-img' ) %><br>
                    <div class="abridgement">
                      投稿者 <%= article.user.name %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
