<% if user_signed_in? %>
  <footer class="footer_sign_in">
    <div class="container">
      <ul class="justify-content-around">
        <li class="footer-li">
          <%= link_to root_path, class: ' nav-link text-light' do %>
            <%= image_tag('footer-home.png',class: 'btn logo') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_dog_path do %>
            <%= image_tag('dog.png',class: 'btn logo1') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_article_path do %>
            <%= image_tag('post.png',class: 'btn logo1') %>
          <% end %>
        </li>
        <li>
          <span id="back">
            <a href="#">
              <%= image_tag('up.png',class: 'btn logo1') %>
            </a>
          </span>
        </li>
      </ul>
    </div>
  </footer>
<% else %>
  <footer class="footer_sign_out"></footer>
<% end %>