<!DOCTYPE html>
<html>
  <head>
    <title>OneDays</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "slick.css" %>
    <%= stylesheet_link_tag "slick-theme.css" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main>
      <%= render 'layouts/search' %>
      <%= yield %>
      <%= javascript_include_tag 'slick.js', 'data-turbolinks-track': 'reload' %>
      <script>
        $(document).ready(function(){
          $('.slider').slick({
            autoplay:true, // 自動再生を設定
            autoplaySpeed:3000, // スライド切り替えの時間を設定
            dots: true
          });
        });
      </script>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
