<!DOCTYPE html>
<html>
  <head>
    <title>OneDays</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "slick.css" %>
    <%= stylesheet_link_tag "slick-theme.css" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= javascript_include_tag 'slick.js', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).ready(function(){
        $('.slider').slick({
          dots: true
        });
      });
    </script>
    <%= yield %>
  </body>
</html>
